body,html{
    overflow-x:hidden;
}
.aside-title{
    height: 3em;

}
.list-group-item-action{
    height: 4em;
    
} 
.input-cell{
    width: 5em;
}
.input-cell-depts{
    width: 10em;
}
.active-aside{
    background-color: var(--bs-primary)!important;
    color: white!important;
}
@media(min-width:992px){
    aside{
        height:92.46vh !important
    }
}
.item-aside{
    border: 1px white solid !important;
}
/* .patient-sidebar:hover,.doctor-sidebar:hover{
    background-color: var(--bs-primary)!important;
    color:white!important;

}
.patient-sidebar,.doctor-sidebar{
    transition-duration: .2s;
} */